<h2>Edit Merchant</h2>
<div class="edit-page">
  <form method="post" action="/merchants/<%= @merchant.id %>">
    <label for="name-field">Merchant name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    value="<%= @merchant.name %>"
    />
    <input class="button-edit" type='submit' value="Edit Merchant Name">
  </form>
</div>
