<h3>Merchant manager</h3>

<form method="post" action="/merchants">
  <label for="merchant-field">New merchant:</label>
  <input
  type="text"
  name="name"
  id="merchant-field"
  />
<input type="submit" value="Add new merchant">
</form>

<% @merchants.each do |merchant| %>
<table>
  <tr>
    <th>Merchant name:</th>
  </tr>
  <td>
    <%= merchant.name %>
  </td>
  <td>
    <form action="/merchants/<%= merchant.id %>/edit" method="GET">
      <input class="button" type="submit" value="edit" />
    </form>
  </td>
  <td>
    <form action="/merchants/<%= merchant.id %>/delete" method="POST">
          <input class="button" type="submit" value="delete" />
        </form>
  </td>

</table>
<% end %>
