<h2>Merchant manager</h2>

<form method="post" action="/merchants">
  <label for="merchant-field">New merchant:</label>
  <input
  type="text"
  name="name"
  id="merchant-field"
  />
<input type="submit" value="Add new merchant">
</form>


<table id="transactions">
  <tr>
    <th>Merchant name:</th>
    <th></th>
    <th></th>
  </tr>
  <% @merchants.each do |merchant| %>
  <tr>
  <td>
    <%= merchant.name %>
  </td>
  <td>
    <form action="/merchants/<%= merchant.id %>/edit" method="GET">
      <input class="button-table-edit" type="submit" value="edit" />
    </form>
  </td>
  <td>
    <form action="/merchants/<%= merchant.id %>/delete" method="POST">
      <input class="button-table-delete" type="submit" value="delete" />
    </form>
  </td>
  </tr>
  <% end %>
</table>
