<h2>New merchant</h2>
<div class="new-editbox">
<form method="post" action="/merchants">
  <label for="merchant-field">New merchant:</label>
  <input
  type="text"
  name="name"
  id="merchant-field"
  />
<input class="button-add" type="submit" value="Add new merchant">
</form>
</div>
