<h2>Welcome to Spending Tracker!</h2>
<div class="transactionstable">
<table id="transactions">
  <tr>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td> £<%= transaction.amount %></td>
  </tr>
  <% end %>
</table>
