<h2>New category</h2>
<div class="new-editbox">
<form method="post" action="/tags">
<label for="tag-field">New category:</label>
<input
type="text"
name="name"
id="tag-field"
/>
<input class="button-add" type="submit" value="Add new category">
</form>
</div>
