<h2>New category</h2>
<form method="post" action="/tags">
<label for="tag-field">New category:</label>
<input
type="text"
name="name"
id="tag-field"
/>
<input type="submit" value="Add new category">
</form>
