<form method="post" action="/transactions/<%= @transaction.id %>">
<label for="amount-field">Amount:</label>
<input
type="text"
name="amount"
id="amount-field"
value="<%= @transaction.amount %>"
/>

<label for="merchant-field">Merchant:</label>
<input
type="text"
name="merchant"
id="merchant-field"
value="<%= @transaction.merchant %>"
/>

<label for="tag-field">Tag:</label>
<input
type="text"
name="tag"
id="tag-field"
value="<%= @transaction.tag %>"
/>

<input type='submit' value="Edit Order">
</form>
