<h2>New transaction</h2>
<div class="new-editbox">
<form method="post" action="/transactions">
  <label for="merchant-select">
    Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label for="tag-select">
    Select a category:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </label>
  <label for="amount-field">Amount:</label>
  <input required
  type="text"
  name="amount"
  id="amount-field"
  />

  Date: <input required type="date" name="date_stamp">
  <input class="button-add" type="submit" value="Add new transaction">
</form>
</div>
